
<form>
    <div class="form-group">
        <label for="Model">Model</label>
        <input id="Model" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input id="price" type="number" class="form-control">
            <span class="input-group-text">.00</span>
        </div>
    </div>
    <div *ngIf="!isLoading" class="form-group">
        <label for="Brand">Brand</label>
        <select  id="Brand" class="form-control">
            <option [value]="">
            </option>
            <option *ngFor="let brand of brands" [value]="brand.key">
                {{ brand.value.name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" type="text" class="form-control">
    </div>
    <button class="btn btn-primary" style="margin-top: 1rem;">Save</button>
</form>




